:host {
    display: block;
    height: 100%;
    width: 100%;
}

.card {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: linear-gradient(135deg, rgba(235, 64, 52, 0.1), rgba(134, 65, 244, 0.1)); /* Soft Magenta & Violet gradient */

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background: linear-gradient(135deg, rgba(235, 64, 52, 0.2), rgba(134, 65, 244, 0.2)); /* Brighter gradient on hover */
    }
}

.child-basic {
    height: 100%;
    width: 100%;
}

.mat-card-content-basic {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px !important;
}

.picture {
    min-height: 50%;
    overflow: hidden;
    border-radius: var(--mdc-elevated-card-container-shape);
    overflow: hidden;
}

.picture img,
.tile-image {
    max-width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.extra-info {
    padding: 20px;
}

.cook-now-button {
    position: sticky;
    left: 2%;
    bottom: 2%;
    z-index: 100;   
}